{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="">Hack Me</a>
      <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            href="#">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            href="#">DNS Lookup</a>
          </li>
        </ul> -->

        <!-- <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
              <div class="white-color hover-orange size-24px">
                <span>{{ user }}</span>
                <i class="fas fa-user"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">Change Password</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>

  <h2 class="text-center mt-1">Hack Me SQL Injection</h2>
  {% if error %}
    <p class="text-center" style="color: red;">{{error}}</p>
  {% endif %}
  <div class="d-flex justify-content-center flex-nowrap mt-4">
    <div class="bg-secondary text-white mx-2 p-2">
      <p>Member Login</p>
      <form method="post">
        {% csrf_token %}
        <p class="mt-2 text-center"><input type="text" name="username" placeholder="username" required></p>
        <p class="mt-2 text-center"><input type="password" name="password" placeholder="password" required></p>
        <p class="mt-2 text-center"><button class="" type="submit">Login </button></p>
      </form>
    </div>
  </div>

  {% endblock content %}